*
!.gitignore
!*/

# ignore all files
*/**

# unignore all files in common
!common/**
# unignore .env
!*/.env
!*/.env.example
# unignore custom SOUL.md
!*/SOUL.custom.md
# unignore custom config
!*/config.custom.yaml
# unignore cron
!*/cron/
!*/cron/jobs.custom.json
# unignore skills
!*/skills/
!*/skills/multi-agent-orchestration
!*/skills/multi-agent-orchestration/
!*/skills/multi-agent-orchestration/**
