[Unit]
Description=Hermes
After=network.target

[Service]
Type=simple
User=ntsd
Group=ntsd
WorkingDirectory=/home/ntsd

Environment="PATH=/home/ntsd/.nvm/versions/node/v26.1.0/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
EnvironmentFile=-/home/ntsd/hermes-dashboard.env

ExecStart=/home/ntsd/.local/bin/hermes dashboard --host 0.0.0.0 --port 9119 --insecure --no-open
Restart=on-failure
RestartSec=60
StandardOutput=journal
StandardError=journal


[Install]
WantedBy=multi-user.target
