[Unit]
Description=Hermes
After=network.target

[Service]
Type=simple
User=${USER}
Group=${USER}
WorkingDirectory=${HOME}/hermes-workspace

Environment="PATH=${HOME}/.local/bin:${HOME}/.nvm/versions/node/current/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
EnvironmentFile=-${HOME}/hermes-workspace.env

# use dev instead of start for the webui update
ExecStart=/usr/bin/env npm dev
Restart=on-failure
RestartSec=60
StandardOutput=journal
StandardError=journal


[Install]
WantedBy=multi-user.target