*
!.gitignore
!*/

# ignore all files
*/**

# unignore all files in common
!common/.env
!common/.env.example
!common/config.yaml
!common/SOUL.md
!common/skills/zerofactory-orchestration/**
# unignore .env
!*/.env
!*/.env.example
# unignore custom SOUL.md
!*/SOUL.custom.md
# unignore custom config
!*/config.custom.yaml
# unignore cron
!*/cron/
!*/cron/jobs.custom.json
# unignore skills
!*/skills/
!*/skills/zerofactory-orchestration
